@model mobu_backend.Models.Mensagem

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Mensagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="DataHoraMsg" type="hidden" value="" />
            <input type="hidden" asp-for="IDMensagemSala" />
            <input type="hidden" asp-for="IDMensagem" />
            <div class="form-group">
                <label asp-for="ConteudoMsg" class="control-label"></label>
                <textarea asp-for="ConteudoMsg" class="form-control"></textarea>
                <span asp-validation-for="ConteudoMsg" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EstadoMensagem" class="control-label"></label>
                <select asp-for="EstadoMensagem" class="form-control">
                    <option value="1">A enviar</option>
                    <option value="2">Enviada</option>
                    <option value="3">Recebida</option>
                    <option value="4">Vista</option>
                </select>
                <span asp-validation-for="EstadoMensagem" class="text-danger"></sp*>
            </div>*@
            <div class="form-group">
                <label asp-for="RemetenteFK" class="control-label"></label>
                <select asp-for="RemetenteFK" class="form-control" asp-items="ViewBag.remetenteFK"></select>
                <span asp-validation-for="RemetenteFK" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SalaFK" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
