@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de reiniciar palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua palavra-passe foi reiniciada. Por favor <a asp-page="./Login">carregue aqui para o login</a>.
</p>
