@model mobu_backend.Models.Utilizador_Anonimo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Utilizador Anónimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDUtilizador" />
            <div class="form-group">
                <label asp-for="NomeUtilizador" class="control-label"></label>
                <input asp-for="NomeUtilizador" class="form-control" />
                <span asp-validation-for="NomeUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoIPv4" class="control-label"></label>
                <input asp-for="EnderecoIPv4" class="form-control" />
                <span asp-validation-for="EnderecoIPv4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoIPv6" class="control-label"></label>
                <input asp-for="EnderecoIPv6" class="form-control" />
                <span asp-validation-for="EnderecoIPv6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input type="file"
                       name="fotografia"
                       asp-for="Fotografia"
                       accept=".jpg,.jpeg,.png"
                       class="form-control" />
                <span asp-validation-for="Fotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
