@model IEnumerable<mobu_backend.Models.Utilizador_Anonimo>

@inject IHttpContextAccessor http;

@{
    ViewData["Title"] = "Índice";
    var request = http.HttpContext.Request;

}

<h1>Índice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDUtilizador)
            </th>
            <th>
                Fotografia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDUtilizador)
            </td>
            <td>
                 <img style="height:75px;" src=@("https://" + request.Host.ToString() + "/imagens/default_avatar.png") />     @*DisplayFor(modelItem => item.Fotografia)*@
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IDUtilizador">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
