@model mobu_backend.Models.Salas_Chat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salas_Chat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeGrupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeGrupo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDSala">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
