@model IEnumerable<mobu_backend.Models.Sala_Jogo_1_Contra_1>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar sala de jogo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSala)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSala)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IDSala">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
